* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {

    background-image: linear-gradient(20deg,
            hsl(86deg 90% 85%) 0%,
            hsl(106deg 85% 86%) 18%,
            hsl(131deg 80% 85%) 33%,
            hsl(148deg 78% 81%) 45%,
            hsl(161deg 75% 77%) 56%,
            hsl(170deg 72% 74%) 65%,
            hsl(178deg 68% 72%) 74%,
            hsl(184deg 71% 72%) 82%,
            hsl(189deg 76% 72%) 90%,
            hsl(194deg 78% 74%) 100%);

}

h1 {
    font-weight: bolder;
}

#todoapp {
    background-color: white;
    border-radius: 10px;
    max-width: 700px;
    border: 5px solid black;
}

#todoapp h1 img {
    width: 50px;
}

#row {
    border-radius: 30px;
    background: #edeef0;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

button {
    border: none;
    outline: none;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 40px;
}

ul li {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(icons/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(icons/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background: #edeef0;
}

@media (max-width: 530px) {
    #header {
        flex-direction: column;
        /* Cambia la dirección a columna */
        align-items: center;
        /* Centra los componentes horizontalmente */
    }
}

@media (max-width: 400px) {
    #row {
        flex-direction: column;
        /* Cambia la dirección a columna */
        align-items: center;
        /* Centra los componentes horizontalmente */
    }
}